.circle {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translate(-50%, -1px);
  height: 40px;
  width: 100px;
  background-color: var(--accent);
  backdrop-filter: blur(6px);
  transition: width 500ms 500ms, height 500ms, transform 500ms,
    background-color 500ms;
}

.circle.circleHidden {
  transform: translate(-50%, -100%);
}

.menuText,
.closeText {
  font-size: 1.5rem;
  font-weight: 600;
  transition: 1000ms;
  position: absolute;
}

.menuText {
  top: 0.3rem;
  left: 50%;
}

.menuText {
  transform: translate(-50%, -15%);
}

.closeText {
  top: 0.6rem;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: 500ms;
  transition-delay: 600ms;
  opacity: 0;
  visibility: hidden;
}

.circle.navOpen {
  height: 100vh;
  width: 100%;
  background-color: var(--black-opaque);
  transition: width 500ms, height 500ms 500ms, background-color 500ms 500ms,
    transform 500ms;
}

.circle.navOpen .menuText {
  transform: translate(-50%, -225%);
  opacity: 0;
  visibility: hidden;
}

nav:has(.navOpen) .closeText {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
}

.navMenu {
  position: fixed;
  z-index: 110;
  visibility: hidden;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

nav:has(.navOpen) .navMenu {
  visibility: visible;
  opacity: 1;
}

.navLinks {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navLinks li {
  margin-bottom: 3rem;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: 500ms 500ms;
  transform: translateY(-50px);
}

nav:has(.navOpen) .navLinks li {
  margin-bottom: 3rem;
  font-size: 2rem;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.socialMediaIcons {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  transform: translateY(200%);
  transition: 500ms 1000ms;
}

.socialMediaIcons a:not(:last-of-type) {
  margin-right: 3rem;
}

nav:has(.navOpen) .socialMediaIcons {
  transform: translateY(0%);
}

body:has(.navOpen) {
  overflow: hidden;
}
