.pageContainer {
  width: min(100%, 1500px);
}

.heroContainer {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.heroContainer pre {
  position: absolute;
  /* top: 50%; */
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroContainer code * {
  font-size: clamp(1.1rem, 1.4vw, 1.4rem);
  /* font-weight: 600; */
}

/* .austinContainer {
  position: relative;
  margin-top: 4rem;
  perspective: 400px;
}

.austinContainer * {
  font-size: clamp(3rem, 12vw, 6rem);
  font-weight: 600;
}

.hiddenAustin {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
}

.austin {
  position: relative;
  animation: jump 1.6s ease 500ms;
  transform-style: preserve-3d;
}

.hiddenAustin::after {
  content: "";
  height: 22%;
  width: 200%;
  background-color: var(--accent);
  box-shadow: var(--box-shadow);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  z-index: -10;
} */

.scrollDownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.scrollDownText {
  border: none;
  background: none;
  padding: 0;
  font-size: clamp(1rem, 5vw, 1.25rem);
  font-weight: 100;
}

.scrollDownArrowContainer {
  animation: float 2000ms linear infinite;
}

.scrollDownArrow {
  --height: 6px;
  --width: 30px;
  --translate: 12px;
  height: var(--height);
  width: var(--width);
  margin-top: 2rem;
  background-color: var(--accent);
  border-radius: 1px;
  box-shadow: var(--box-shadow);
  transform: translateX(-25%) rotate(45deg);
}

.scrollDownArrow::after {
  content: "";
  display: block;
  height: var(--height);
  width: var(--width);
  background-color: var(--accent);
  border-radius: 1px;
  box-shadow: var(--box-shadow);
  transform: translate(var(--translate), calc(var(--translate) * -1))
    rotate(90deg);
}

@media (width > 768px) {
  .austin::after {
    width: 250%;
  }

  .heroContainer {
    margin-bottom: 3rem;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0) rotateX(0deg) translateZ(-50px);
    z-index: -20;
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0) rotateX(0deg);
    z-index: -20;
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20%);
    z-index: -20;
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0) rotateX(5deg);
    z-index: 20;
  }
  60% {
    transform: scale(1, 1) translateY(-5%) rotateX(5deg);
    z-index: 20;
  }
  75% {
    transform: scale(1, 1) translateY(0);
    z-index: 20;
  }
  100% {
    transform: scale(1, 1) translateY(0) rotateX(0deg) translateZ(0px);
    z-index: 20;
  }
}
