.section {
  position: relative;
  /* z-index: 20; */
}

.dotAnimation {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.dotComponentContainer {
  /* height: 500px; */
  /* width: 350px; */
  padding: 1rem;
  /* background: var(--black); */
  /* border: 5px solid var(--dark); */
  /* border-radius: var(--border-radius); */
}

.dotComponent {
  /* position: relative; */
  height: 100%;
  border-radius: var(--border-radius);
}

@media (width > 1024px) {
  .dotComponentContainer {
    /* grid-column: 1 / 2; */
  }
}

@media (width > 768px) {
  .sectionContent pre {
    /* grid-column: 1 / 2; */
  }
  .dotAnimation {
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }
  .dotComponentContainer {
    /* grid-column: 2 / -1; */
  }
}

.background {
  --height: 0px;
  --time: 0s;
  width: 100%;
  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: var(--background-gradient-light);
}

.backdrop {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  backdrop-filter: blur(1px);
}

.dot {
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  bottom: 1rem;
}

.fall {
  animation: fall var(--time) linear infinite backwards;
}

.rise {
  animation: rise var(--time) linear infinite backwards;
}

@keyframes fall {
  0% {
    transform: translateY(var(--height));
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes rise {
  0% {
    transform: translateY(50px);
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(var(--height));
    opacity: 0;
  }
}

/* .dotAnimation {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.dotComponentContainer {
  height: 500px;
  width: 350px;
  padding: 1rem;
  background: var(--black);
  border: 5px solid var(--dark);
  border-radius: var(--border-radius);
}

.dotComponent {
  position: relative;
  height: 100%;
  border-radius: var(--border-radius);
}

@media (width > 1024px) {
  .dotComponentContainer {
    grid-column: 1 / 2;
  }
}

@media (width > 768px) {
  .sectionContent pre {
    grid-column: 1 / 2;
  }
  .dotAnimation {
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }
  .dotComponentContainer {
    grid-column: 2 / -1;
  }
} */
