.section {
  position: relative;
}

.dotAnimation {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.dotComponentContainer {
  padding: 1rem;
}

.dotComponent {
  height: 100%;
  border-radius: var(--border-radius);
}

@media (width > 768px) {
  .dotAnimation {
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }
}

.background {
  --height: 0px;
  --time: 0s;
  --name: "";
  width: 100%;
  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: var(--background-gradient-light);
}

.backdrop {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: var(--accent-2);
  position: absolute;
  bottom: 1rem;
  /* animation: var(--name) var(--time) linear infinite backwards; */
}

.fall {
  animation: fall var(--time) linear infinite backwards;
}

.rise {
  animation: rise var(--time) linear infinite backwards;
}

@keyframes fall {
  0% {
    transform: translateY(var(--height));
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes rise {
  0% {
    transform: translateY(50px);
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(var(--height));
    opacity: 0;
  }
}
