@import url("https://use.typekit.net/won3kox.css");

:root {
  --black: rgb(10, 0, 3);
  --black-opaque: rgba(10, 0, 3, 0.7);
  --white: #ffeeeb;
  --mid: #000000;
  --dark: #210009;
  /* --dark: #180007; */

  --light: #ffbeb3;
  --accent: #80060a;
  --accent-2: #ca3f44;

  --projectText: clamp(1rem, 3vw, 1.5rem);
  --border-radius: 3px;
  --box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px,
    rgba(0, 0, 0, 0.22) 0px 10px 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* nav bar hides on scroll down and shows on scroll up */
  /* if user clicks link to scroll to section that is above their current position */
  /* the nav menu will still be visible */
  /* scroll margin is to adjust for height of nav menu bar when using scrollIntoView */
  scroll-margin: 50px;
}

body {
  background: linear-gradient(
    0deg,
    var(--black) 0%,
    var(--black) 20%,
    var(--dark) 100%
  );
  min-height: 100vh;
  background-color: var(--dark);
  font-family: brother-1816, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.025rem;
  text-align: justify;
}

.background {
  position: fixed;
  z-index: -20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    var(--black) 0%,
    var(--black) 30%,
    var(--dark) 100%
  );
}

body * {
  color: var(--light);
}

main {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* @media (prefers-color-scheme: dark) {
  body * {
    color: var(--light);
  }
} */

h1 {
  position: relative;
  font-weight: 600;
}

h2 {
  font-size: clamp(2.2rem, 6vw, 3.25rem);
  font-weight: 600;
}

h2::after {
  content: "";
  height: 22%;
  width: calc(100% + 24px);
  background-color: var(--accent);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  z-index: -10;
  box-shadow: var(--box-shadow);
}

h3 {
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-weight: 600;
}

h3:after {
  content: "";
  height: 28%;
  width: 24px;
  background-color: var(--accent);
  position: absolute;
  right: -18px;
  transform: translateX(-50%);
  bottom: 12%;
  z-index: -10;
  box-shadow: var(--box-shadow);
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: clamp(1rem, 3vw, 1.1rem); */
}

p {
  margin-bottom: 1rem;
  font-size: clamp(1rem, 3vw, 1.1rem);
}

p:last-of-type {
  margin-bottom: 0;
}

pre {
  max-width: 100%;
  overflow-y: scroll;
}

code * {
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(12px, 1.4vw, 14px);
  font-weight: 500;
}

p > code {
  font-family: "Courier New", Courier, monospace;
  color: var(--accent);
  font-size: clamp(16.5px, 3vw, 18px);
  font-weight: 600;
}

/* p > code * {
} */

@media (width > 768px) {
  h3:after {
    width: 30px;
    right: -21.5px;
  }
}

.placeholder {
  width: 100%;
  border-radius: var(--border-radius);
}

@media (width > 1024px) {
  main {
    padding: 1rem 3rem;
  }
}
