@import url("https://use.typekit.net/won3kox.css");

:root {
  --black: rgb(10, 0, 3);
  --black-opaque: rgba(10, 0, 3, 0.7);
  --white: #ffeeeb;
  --mid: #000000;
  --dark: #210009;
  /* --dark: #180007; */

  --light: #ffbeb3;
  --accent: #80060a;
  --accent-2: #c1272d;

  --margin-1: 1rem;
  --margin-2: 2rem;
  --margin-3: 3rem;
  --margin-4: 4rem;
  --border-radius: 3px;
  --box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px,
    rgba(0, 0, 0, 0.22) 0px 10px 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: brother-1816, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.025rem;
  text-align: justify;
}

body {
  background: linear-gradient(
    0deg,
    var(--black) 0%,
    var(--black) 20%,
    var(--dark) 100%
  );
  min-height: 100vh;
  background-color: var(--dark);
}

.background {
  position: fixed;
  z-index: -20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    var(--black) 0%,
    var(--black) 30%,
    var(--dark) 100%
  );
}

body * {
  color: var(--light);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* @media (prefers-color-scheme: dark) {
  body * {
    color: var(--light);
  }
} */

h1 {
  position: relative;
  font-weight: 600;
}

h2 {
  font-size: clamp(2.2rem, 6vw, 3.25rem);
  font-weight: 600;
}

h2::after {
  content: "";
  height: 22%;
  width: calc(100% + 24px);
  background-color: var(--accent);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  z-index: -10;
  box-shadow: var(--box-shadow);
}

h3 {
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-weight: 600;
}

h3:after {
  content: "";
  height: 28%;
  width: 24px;
  background-color: var(--accent);
  position: absolute;
  right: -18px;
  transform: translateX(-50%);
  bottom: 12%;
  z-index: -10;
  box-shadow: var(--box-shadow);
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

code * {
  font-family: monospace;
  font-size: 0.6rem;
  font-weight: 200;
}

@media (width > 768px) {
  main {
    padding: 1rem 3rem;
  }

  h3:after {
    width: 30px;
    right: -22px;
  }
}

.placeholder {
  width: 100%;
  background-color: var(--black-opaque);
  border-radius: var(--border-radius);
  padding: 1rem;
}

@media (width > 768px) {
  code * {
    font-size: 0.75rem;
  }
}
