/* animations are inside media query at the bottom of this file */

.form {
  --mid: rgb(50, 50, 50);
  --color: var(--mid);
  position: relative;
  font-weight: 600;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.invalidMessage {
  margin-left: 1rem;
  color: var(--red);
  display: none;
  font-size: 0.8rem;
}

.error {
  display: block;
}

.signUpInput:has(:invalid:not(:focus):not(:placeholder-shown)) .invalidMessage {
  display: block;
}

.form input {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0.5rem;
  background: none;
  border: none;
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid var(--color);
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.form input::placeholder {
  color: var(--mid);
}

.form input:focus-visible {
  border: 3px solid var(--mid);
}

.signUpInput:has(:invalid) {
  --color: var(--accent);
}

.signUpInput:has(:placeholder-shown) {
  --color: var(--mid);
}

.loading {
  opacity: 0.4;
  transition: 100ms;
}

.switchViewButton {
  margin-left: 0.5rem;
}

/******** ANIMATIONS ********/

.signUpInput:has(:invalid:not(:focus):not(:placeholder-shown)) {
  animation: shake 300ms;
}

.inputContainer:has(.error) {
  --color: var(--accent);
  animation: shake 300ms;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-2%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(2%);
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark);
  border: none;
  background-color: var(--accent);
  padding: 0.35rem 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
